/* changes font to Ubuntu Light */

* {
font: Ubuntu Light !important;
}

/* makes text actually white */

.theme-dark .message-group .comment .markup {
  color: #FFFFFF;
}


/* makes text vertically closer together */

.message-group {
  border-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}


/* hides blocked messages */

.message-group-blocked {
  display: none !important;
}


/* gets rid of lines in between messages (dark mode only) */

.theme-dark .chat form {
  border-top: 0px;
}


/* gets rid of line above chat box */

.chat form {
  box-shadow: 0 0px 0 rgba(0, 0, 0, .1);
  border-top: 0px;
}


/* makes avatars more square shaped */

.avatar-large, .avatar-profile, .avatar-small, .avatar-xlarge, .avatar-xsmall, .avatar-xxlarge {
  border-radius: 25%;
}


/* removes dumb "new messages" thing that nobody cares about */

.chat .divider.divider-red {
  display: none !important
}


/* makes "new activity" notifications on the server list my favorite color */

.guilds-wrapper .guilds .guild.unread:before {
  background: #00ffbf
}

.guild-channels .channel-text.unread:not(.selected):not(.channel-muted):before {
  background: #00ffbf
}


/* gets rid of borders on friends list */

.theme-dark #friends .friends-table .friends-row+.friends-row {
  border: 0px;
}