.channelTextArea-rNsIhG
{
    margin-top: 0px !important;
    margin-bottom: 30px;
}

@keyframes rAinbowNimate {
        from {
          color: #00ffbf;
        }
        14.2% {
          color: #0000FF;
        }
        28.5% {
          color: #4B0082;
        }
        42.8% {
          color: #8B00FF;
        }
        57.14% {
          color: #FF0000;
        }
          71.4% {
          color: #FF7F00;
        }
          85.7% {
          color: #FFFF00;
        }
          100% {
          color: #00FF00;
        }
}

@keyframes divIDERrAinbowNimate {
        from {
          border-bottom-color: #00ffbf;
        }
        14.2% {
          border-bottom-color: #0000FF;
        }
        28.5% {
          border-bottom-color: #4B0082;
        }
        42.8% {
          border-bottom-color: #8B00FF;
        }
        57.14% {
          border-bottom-color: #FF0000;
        }
          71.4% {
          border-bottom-color: #FF7F00;
        }
          85.7% {
          border-bottom-color: #FFFF00;
        }
          100% {
          border-bottom-color: #00FF00;
        }
}


/* hides blocked messages */

*[class^='messageGroupBlocked']
{
    display: none !important;
}

/* changes font to Ubuntu Light */



html{
    scroll-behavior: smooth !important;
}

* {
font-family: "Ubuntu Light", sans-serif !important;
/* font-size:14px !important;*/
font-weight: bold !important;
letter-spacing: -.25px !important;
/* line-height:16px !important; */
text-rendering: geometricPrecision !important;
}
/*  "Ubuntu Light", /*

/* makes text actually white */

.markupRtl-3M0hmN > strong {
    color: red;
    letter-spacing: 1.5px !important;
}

*[class^='theme-dark'] {
  --text-normal: #FFFFFF !important;
}

/* makes text vertically closer together */

.message-group
{
  border-bottom: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

div[class=""], *[class^='containerCozyBounded']
{
    margin-top: -1px !important;
    margin-bottom: -1px !important;
}

span.dividerContent-2L12VI::before, span.dividerContent-2L12VI::after
{
        animation: divIDERrAinbowNimate 10s linear infinite alternate;
}

span.dividerContent-2L12VI
{
color:#FFFFFF;
}


*[class^='typing']
{
    border-bottom-width: 5px;
    margin-bottom: 70px;
    color:#ffffff !important;
    background: rgba(47, 49, 54, .85) !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    z-index: -2 !important;
}

/* h2.headerCozyMeta-rdohGq {
    margin-top: 2.5px !important;
} */

.markup-2BOw-j.slateTextArea-1Mkdgw.fontSize16Padding-3Wk7zP
{
    padding-bottom: 11px;
    padding-top: 11px !important;
}

*[class^='placeholder'] {
    padding-bottom: 11px;
    padding-top: 11px !important;
}

*[class^='placeholder']:after {
    content:" - you gay bitch";
    animation: rAinbowNimate 10s linear infinite alternate;
}

form {
    margin-top: 0px !important;
    margin-bottom: -30px;
    border: 12px black !important;
    box-shadow: 0 0px 0px transparent !important;
    z-index: 2 !important;
    margin-right: 0px !important;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece{
    background-color: transparent;
    border: 0px solid #36393f;
    border-radius: 10px;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: rgba(255, 81, 179, .6);
    border-color: rgba(255, 81, 179, .5);
}

.scroller-2FKFPG::-webkit-scrollbar-thumb, .scroller-2FKFPG::-webkit-scrollbar-track {
    background-clip: padding-box;
    border-width: 3.5px;
    border-style: solid;
    border-radius: 15px;
}

.message-group.hide-overflow {
padding-top:0px !important;
padding-bottom:0px !important;

}

.theme-dark *[class^='channelTextArea'] {
    border-top: 0px solid hsla(0,0%,100%,.06) !important;
}

/* gets rid of lines in between messages (dark mode only) */

*[class^='channelTextAreaEnabledNoAttach']
{
  padding-top: 0px; !important
}

*[class^='container'],
*[class^='channelTextArea']
{
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

.container-2Pjhx-
{
    color: #FFFFFF !important;
}

/* gets rid of line above chat box */

.chat form {
  box-shadow: 0 0px 0 rgba(0, 0, 0, .1);
  border-top: 0px;
}


.theme-dark .headerNormal-T_seeN, .scroller-2FKFPG.firefoxFixScrollFlex-cnI2ix.systemPad-3UxEGl.bodyInner-245q0L, *[class^='scroller-']{
    background-color: rgba(47, 49, 54, .85) !important;
}


.headerPlaying-j0WQBV, .headerStreaming-2FjmGz {
    background-color: rgba(114, 137, 218, .85) !important;
}

/* removes dumb "new messages" thing that nobody cares about */

.chat .divider.divider-red {
  display: none !important
}


*[class^='expandedFolderBackground-'] {
background: rgba(47, 49, 54, .6) !important
}
/* makes "new activity" notifications on the server list my favorite color */

.guilds-wrapper .guilds .guild.unread:before {
  background: #00ffbf
}


*[class^='typeWindows-'] {
    background: rgba(255, 81, 179, .9) !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-top: 4px !important;
}

.notice.notice-streamer-mode {
    background-color: transparent !important;
}
.scroller-wrap .scroller::-webkit-scrollbar-thumb, .scroller-wrap .scroller::-webkit-scrollbar-track-piece {

    border: 0px solid #fff !important;
}

.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb {
    background-color: rgba(000,255,191,.3);
}


message-group.is-local-bot-message {
    background: transparent !important;
    box-shadow: 0px 0 !important
}

.privateChannels-1nO12o, .panels-j1Uci_{
    background-color: transparent !important;
}

.title-3qD0b-.container-1r6BKw {
    background-color: transparent !important;
}

.theme-dark .container-1r6BKw {
    -webkit-box-shadow: 0 0px 0 rgba(0,0,0,0), 0 0px 0 rgba(0,0,0,0), 0 0px 0 rgba(0,0,0,0);
    background: #36393f;
    box-shadow: 0px -0px 0 rgba(0,0,0,0), 0 0px 0 rgba(0,0,0,0), 0 0px 0 rgba(0,0,0,0);
    color: #b9bbbe;
}

.theme-dark .children-19S4PO:after {
    background: -webkit-gradient(linear,left top,right top,from(rgba(54,57,63,0)),to(#36393f));
    background: linear-gradient(90deg,rgba(54,57,63,0) 0,#36393f);
    visibility: hidden !important;
}
.sidebar-2K8pFh,
*[class^='messagesWrapper-'],
*[class^='scroller'],
*[class^='wrapper'],
*[class^='container'],
*[class^='scroller-'],
*[class^='themeGhostHairline-'],
*[class^='scrollerWrap-'],
*[class^='messages-'],
*[class^='content-'],
*[class^='chat-'],
*[class^='systemPad-'],
.members-1998pB.scroller,
.connecting,
.content-yTz4x3,
content-yTz4x3,
titleWrapper-1l0xT9,
.channelNotices-41mJbj .channelNotice-1-XFjC.quickswitcher-35bYg4,
.private-channels,
.scroller-2FKFPG,
form,
scrollerWrap-2lJEkd scrollerThemed-2oenus themeGhostHairline-DBD-2d scrollerFade-1Ijw5y,
.theme-dark .scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scroller-2FKFPG::-webkit-scrollbar-thumb,
channels-Ie2l6A vertical-V37hAW flex-1O1GKY directionColumn-35P_nrM,
private-channels,
.channels-Ie2l6A,
.members-1bid1J.scroller,
.guilds-scroller,
div.scroller-fzNley,
.theme-dark .guild-header header,
.private-channels,
.layers.flex-vertical.flex-spacer,
.title-qAcLxz,
.channels-3g2vYe vertical-3X17r5 flex-3B1Tl4 directionColumn-2h-LPR,
.header,
section.flex-verticle.flexspacer,
.theme-dark .guild-wrapper,
.theme-dark .channels-wrap, .theme-dark .guild-channels-wrapper,
.theme-dark .scroller.messages,
.theme-dark .messages-wrapper,
.theme-dark .messages .message-text,
.theme-dark .chat,
.theme-dark .chat>.content,
.theme-dark .channel-members,
.theme-dark .private-channels,
.theme-dark #friends, .theme-dark #friends .friends-table,
.theme-dark .popout, .theme-dark .pop-out .user-popout,
.theme-dark .chat .title-wrap,
.guilds-wrapper,
.account,
.theme-dark .guild-channels,
.theme-dark .chat .content form .typing,
.guild-channels .channel-text.selected,
.guild-channels .channel-text:hover,
.private-channels .channel.selected,
.private-channels .channel:hover,
.theme-dark #friends .friends-header,
.search-bar,
#voice-connection,
.guilds-wrapper .guild-separator:after,
.account .btn,
.has-more, .has-more button,
.title-wrap,
.guilds.scroller,
.channels-3g2vYe.vertical-3X17r5.flex-3B1Tl4.directaionColumn-2h-LPR,
.theme-dark .guildsWrapper-5TJh6A,
#voice-connection .btn {
    background: transparent !important ;
}

.chat>.title-wrap.title-wrap-dark {
    border-bottom: 1px solid rgba(0,0,0,0);
}
*[class^='header-'] {
    border-bottom: 0px solid rgba(0,0,0,0) !important;
    -webkit-box-shadow: 0 0px 0 rgba(0,0,0,0) !important;
}

.private-channels .search-bar {
    border-bottom: 0px solid rgba(0,0,0,0) !important;;
}

*[class^='flex-']{
    background: transparent !important;
}
.flex-vertical channels-wrap{
    background: transparent !important;
}

.scroller::-webkit-scrollbar-track,
.scroller::-webkit-scrollbar-track-piece {
    background: transparent !important;
}
.layers {
    background:  transparent !important;
}


.layer-3QrUeG {
        background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .8) ), center center fixed , url(

https://i.imgur.com/M2T6aUy.jpg

)  !important ;
    background-size: 100% 100% !important;

}

.theme-dark
{
}


.wrapper-232cHJ

{
    background-color: #f04747 !important
    }

/*.bannerImage-1jOskm
{
background-image: url(initial), linear-gradient(rgba(54, 57, 63, 0) 0%, rgba(47, 49, 54, 0) 100%) !important
}
*/

.theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_ .name-3_Dsmg { color: rgba(255, 81, 179, .9) !important }
.theme-dark .wrapper-1ucjTd.modeUnread-1zpFdA .name-3_Dsmg { color: yellow !important }

*[class^='contextMenu-'] {
    background-color: rgba(47, 49, 54, .85) !important;
}
.contextMenu-HLZMGh {
    background-color: rgba(47, 49, 54, .85) !important;
}

#app-mount > div.app-1q1i1E > div > div.layers-3iHuyZ.layers-3q14ss > div > div > div > div > div.sidebar-2K8pFh > div.container-PNkimc > div.scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.scrollerThemed-2oenus.themeGhostHairline-DBD-2d.scrollerFade-1Ijw5y > div > div:nth-child(2) {
    display:none;
}