
/*--------------------/
/   stephcord theme   /
/   created 2018ish   /
/  orig written with  /
/   beautifuldiscord  /
/    now works with   /
/      powercord      /
/                     /
/   liable to break   /
/--------------------*/

/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lexend+Deca&display=swap');










/**
 * @name actuallybasicbackground
 * @author nvhhr
 * @description very simple background css
 * modified from https://github.com/nvhhr/discordcss/blob/main/snippets/actuallybasicbackground.theme.css
*/

/*customize these*/
:root
{
   --nvbgimg: url("https://raw.githubusercontent.com/sapphonie/discordCSS/refs/heads/master/su_background1.png");
   --nvbgadjust: linear-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.85)
    ); /*use this to tone the bg for better visibility*/
   --scrollbar-thin-track: transparent;
   --scrollbar-auto-track: transparent;
   
    background-repeat: no-repeat;
} 

/*we'll set the background image at the very bottom*/
body { background: center/cover var(--nvbgimg) !important; }
/*add the toning layer..*/
#app-mount { background: var(--nvbgadjust) !important; }

/*then we clear out backgrounds from a bunch of elements*/
[class^=app_], /*main app bg*/
[class^=bg_], /*another bg layer*/
[class*=guilds_], /*serverlist*/
[class^=sidebar_], /*channellist*/
[class^=sidebar_] [class^=container_], /*another layer on channellist*/
[class^=chat_], /*chat bg*/
[class^=chatContent_], /*another layer on chat*/
[class^=chatContent_] + [class^=container_], /*memberlist*/
[class^=members_], /*another layer on memberlist*/
[class^=member_], /*each member also has a bg*/
[class^=chat_] [class^=container_], /*forum channel*/
[class*=mainCard_], /*forum channel entry*/
[class^=chatLayerWrapper_] > [class^=resizeHandle_], /*thread sidebar resizer*/
[class^=chatLayerWrapper_] > [class^=container_], /*thread sidebar*/
[class^=chatLayerWrapper_] > [class^=container_] > [class^=container_], /*thread sidabar title*/
[class^=chat_] [class^=wrapper_], /*voicechannel*/
[class*=gradientContainer_], /*gradients in voicechannel*/
[class^=channelChatWrapper_], /*voicechannel chat*/
[class^=chatTarget_], /*voicechannel chat again*/
[class^=channelChatWrapper_] [class^=resizeHandle_], /*voicechannel chat resizer*/
[class^=channelChatWrapper_] [class^=container_], /*voicechannel chat yet again*/
[class^=title_], /*top toolbar*/
[class^=children_]::after, /*toolbar overflow fadeout*/
[class^=panels_], /*user panel*/
[class^=chatContent_] > [class^=form_], /*chat input area in visual refresh*/
[class^=channelTextArea_], /*chat input*/
[class^=channelTextArea_] [class^=scrollableContainer_], /*chat input again*/
[class^=chatContent_] > form::before, /*wtf even is this and why, discord?*/
[class^=chatContent_] > form::after, /*weird thing in scrollbar*/
[data-list-id="chat-messages"] > [class^=wrapper_], /*skeleton before messages are loaded*/
[data-list-id="chat-messages"] > [class^=wrapper_] > [class^=wrapper_], /*skeleton has many bones in it*/
[class^=privateChannels_], /*DM list*/
[class^=privateChannels_] [class^=scroller_], /*DM list again*/
[class*=userProfileOuterUnthemed_], /*DM right sidebar when user has no profile theme*/
[class*=userProfileOuterUnthemed_] [class^=userPanelInner_], /*same*/
[class^=sidebar_] + [class^=container_], /*friends list*/
[class^=sidebar_] + [class^=container_] > section, /*friends list top bar*/
[class^=nowPlayingColumn_], /* friends list right sidebar*/
[class^=nowPlayingColumn_] > [class^=container_], /*yeah*/
[class^=nowPlayingColumn_] [class^=body_], /*activities have..*/
[class^=nowPlayingColumn_] [class^=section_], /*..a double background too*/
[class^=itemCard_], /*friends list activity cards*/
[class^=shop_], /*shop tab content*/
[class^=shop_] > section, /*shop top bar*/
[class^=shopScroll_], /*shop content*/
[class^=pageWrapper_], /*again*/
[id^=vc-indicators-indicator-items], /*online friend count if plugin is enabled*/
[class^=sidebar_]::after, /*tiny little area under the profile display*/
[class^=layer_],
[class^=sidebarRegion_], /* settings shit */
[class^=contentRegion_],
[class^=contentRegionScroller_], /* main region */
[class^=sidebarRegionScroller_], /* sidebar region */
[class^=standardSidebarView_]
 { background: none !important; }

/*remove some shadows*/
[class^=chat_]::before,
[class^=header_],
[class^=content_]::before,
[class^=tabBody_]::before, /*dm list*/
[class^=searchBar_] /*dm list search*/
 { box-shadow: none; }

/*fixes*/
[class^=sidebar_],
[class^=userPanelInner_]
 { border-radius: 0 !important; }
[class^=privateChannels_] > [class^=scroller_] /*user panel overlaps DM list*/
 { margin-bottom: 55px; }

/*make server banner etc scroll away because of overlap*/
[class^=sidebar_] [class^=container_]:has( > [class^=header_])
 { position: static; }










span, div, label, title, button,
header, nav, table, td, a,
h1, h2, h3, h4, h5,
input, select, textarea
{
    /* changes font to Ubuntu Light */
    font-family: "Lexend Deca", sans-serif !important;
    text-rendering: optimizeLegibility !important;
    /* remove most borders. looks cleaner.*/
    /*
      border:                 1px 1px transparent !important;
      -webkit-box-shadow:     1px 1px transparent !important;
      box-shadow:             1px 1px transparent !important;
    */
}

/* selecting elements is ugly. lets just make certain things transparent by setting colors and attribs in :root/body */
:root
{

    /* custom colors */
    --transwhite: rgba(255,255,255,0.075);
    --scrollbarcolor: rgba(204, 204, 204, .666);
    --discordgreyish: rgba(47,49,54, .9);
    --discordgreyfull: rgba(47,49,54, 1);
}


/* fix friends list tab being black */
.tabBody__133bf, main.container__133bf
{
    background: transparent !important;
}


/* recolor embed backgrounds and code blocks */
div[class^='embedWrapper'], code
{
    background-color: var(--transwhite) !important;
}

/* fix code block font */
/* note: doesn't work */
code *[class*='code'], code, code span, .cm-content *
{
    font-family: "Inconsolata" !important;
}

/* brighten code block comment color a bit
note: test
*[class*='comment']
{
   color: #888888;
}
 */

/* sans undertale red text on bold */
div[class^='markup'] strong
{
    color: red;
    letter-spacing: 2px;
}


/* i'm gay */
div[class^='placeholder'][class*='font']:after
{
    content: " - you gay bitch";
}



/* color current channel bright pink, and add arrow in front of it */
[class*='modeSelected'] [class*='name']
{
    color: rgba(255, 81, 179, .9) !important;
    padding-left: 5px
}

[class*='modeSelected'] [class*='name']::before
{
    content: "-> ";
}

/* color unread channels bright green, and add arrows after them */
/* [class*='modeUnread'] [class*='channelName'], aria-label="unread, sdk-mod-bridge (text channel)" */
/* a[aria-label*='unread'] > div.unread-36eUEm unreadRelevant-2f-VSK > div */
/* div:nth-child(2) > a > div > div.name-28HaxV.overflow-1wOqNV */
[class*='modeUnread'] [class*='name']
{
    color: #39FF14 !important;
    padding-left: 3px
}

[class*='modeUnread'] [class*='name']::after
{
    content: " <-";
}





/* have people actually show up as speaking since we deleted box borders earlier. orig color is #43b581 */
div[class*='avatarSpeaking'], div[class*='speaking']
{
    box-shadow:         inset 0 0 0 2.33px #00ff8b, inset 0 0 0 0px transparent !important;
    -webkit-box-shadow: inset 0 0 0 2.33px #00ff8b, inset 0 0 0 0px transparent !important;
}




/* hide nitro button in friends list - stolen from
    https://canary.discord.com/channels/538759280057122817/755015856945102891/781461421249527809
*/
#private-channels [href="/store"], [aria-label="Send a gift"]
{
    display: none;
}

/* color my username, if modifying this, set "data-author-id" to whatever your discord id is */
img[src^="https://cdn.discordapp.com/avatars/148929066349625344"] + h3 span span
{
    color: #FFFF00 !important;
    animation: rainbow 5000ms infinite linear;
}

@keyframes rainbow
{
  from
    {
        -webkit-filter: hue-rotate(0deg);
    }
    to
    {
        -webkit-filter: hue-rotate(360deg);
    }
}




/* z index -1 avatar decorations on lower left, otherwise it covers up the green voice chat indicator :( */
.avatarDecoration_c51b4e
{
    z-index: -1 !important;
}

/* remove the stupid "click to react" buttons on desktop */
div[class^="buttonContainer"]>div>div {
    >div[aria-label^="Click to react with"],
    >div[aria-label^="Click to remove"]{
        display: none;
    }
}

/* remove the exact seperator for the useless react buttons we already torched */
.separator_f84418
{
    display:none;
}

/* blur "voice connected" panel because text will otherwise overlap with what's underneath (on dms in particular) */
section.panels_c48ade
{
    backdrop-filter: blur(10px) !important;
}

/* make text input field look a bit nicer by blurring things behind it */
form.form_f75fb0.formWithLoadedChatInput_f75fb0
{
    backdrop-filter: blur(20px) !important;
}

/* make activity panel fully transparent */
.panel__5dec7.activityPanel_c48ade {
    background-color: transparent !important;
}
