/*--------------------/
/   stephcord theme   /
/                     /
/  orig written with  /
/   beautifuldiscord  /
/                     /
/   liable to break   /
/--------------------*/

*
{
    /* changes font to Ubuntu Light */
    font-family: "Ubuntu Light", sans-serif !important;
    text-rendering: optimizeSpeed !important;
    /* make it bold */
    font-weight: bold !important;
    /* remove most borders. looks cleaner. */
    border: 0px transparent !important;
    -webkit-box-shadow: 0px 0px transparent !important;
    box-shadow: 0px 0px transparent !important;
}

@keyframes rAinbowNimate
{
    from
    {
        color: #00ffbf;
    }
    14.2%
    {
        color: #0000FF;
    }
    28.5%
    {
        color: #4B0082;
    }
    42.8%
    {
        color: #8B00FF;
    }
    57.14%
    {
        color: #FF0000;
    }
    71.4%
    {
        color: #FF7F00;
    }
    85.7%
    {
        color: #FFFF00;
    }
    100%
    {
        color: #00FF00;
    }
}

/* selecting elements is ugly. lets just make certain things transparent by setting colors and attribs in :root/body */
body
{
    /* set background image here */
    background: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), center center fixed, url("https://i.imgur.com/MOqckVL.png") !important;
    background-size: 100% 100% !important;
    backdrop-filter: blur(5px) !important;

    /* fix discord peeking over other monitors (as best we can) while focused with multimonitor setups */
    margin-left: 1px;

    /* set colors here */
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    /* set text color to mostly white */
    --text-normal: rgba(255,255,255,0.85);
    --text-muted: #72767d;
    --text-link: #00b0f4;
    /* make most text a bit brighter */
    --channels-default: rgba(255,255,255,0.85);
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: transparent;
    --background-secondary: transparent;
    --background-secondary-alt: transparent;
    --background-tertiary: transparent;
    --background-accent: #4f545c;
    --background-floating: #18191c;
    --background-mobile-primary: transparent;
    --background-mobile-secondary: #2f3136;
    --background-modifier-hover: rgba(79,84,92,0.16);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-selected: rgba(79,84,92,0.32);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --background-mentioned: rgba(250,166,26,0.05);
    /* make hovered messages and mentioned messages a bit brigher */
    --background-mentioned-hover: rgba(250,166,26,0.25);
    --background-message-hover: rgba(255,255,255,0.025);
    --background-help-warning: rgba(250,166,26,0.1);
    --background-help-info: rgba(0,176,244,0.1);
    /* make small scrollbar thumbs a bit brighter */
    --scrollbar-thin-thumb: var(--scrollbarcolor);
    --scrollbar-auto-thumb: var(--scrollbarcolor);
    --scrollbar-auto-scrollbar-color-thumb: var(--scrollbarcolor);
    /* remove track */
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
    --scrollbar-auto-scrollbar-color-track: transparent;
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --logo-primary: #fff;
    --focus-primary: #00b0f4;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: #40444b;
    --activity-card-background: #202225;
    --textbox-markdown-syntax: #8e9297;
    --deprecated-card-bg: rgba(32,34,37,0.6);
    --deprecated-card-editable-bg: rgba(32,34,37,0.3);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg: rgba(0,0,0,0.1);
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;

    /* custom colors */
    --transwhite: rgba(255,255,255,0.075);
    --scrollbarcolor: rgba(204, 204, 204, .666);
    --discordgreyish: rgba(47,49,54, .9);
    --discordgreyfull: rgba(47,49,54, 1);
}

/* fix friends tab and other misc heading backgrounds */
*[class*='base'] [class*='container']
{
    background-color: transparent !important;
}

/* fix voice channel limits disappearing */
*[class*='userLimit']
{
    background-color: var(--transwhite);
    border-radius: 10px;
}

/* remove annoying divider in friends list */
*[class^='tabBody']:before
{
    display: none;
}

/* recolor "Hold up!" discord notification when visiting unknown links */
*[class*='modalContent']
{
    background-color: #36393f;
}

/* recolor embed backgrounds and code blocks */
*[class^='embedWrapper'], code
{
    background-color: var(--transwhite) !important;

}

/* fix code block font */
code, *[class*='comment']
{
    font-family: "Ubuntu Mono" !important;
}

/* fix code block comment color */
*[class*='comment']
{
   color: #888888;
}

*[class*='drawerSizingWrapper']
{
    background-color: var(--discordgreyfull) !important;
    border-radius: 5px;
}

/* remove annoying tab at top of messages window, on border of channel name/desc and messages */
*[class^='content']::before
{
    -webkit-box-shadow: 0px 0px transparent;
    box-shadow: 0px 0px transparent;
}

/* undertale red text on bold */
*[class^='markup'] strong
{
    color: red;
    letter-spacing: 1.5px;
}

/* centers typing users a bit better */
*[class*='typing']
{
    border-bottom-width: 0px;
    margin-bottom: -2px !important;
}

/* i'm gay */
*[class^='placeholder'][class*='font']:after
{
    content: " - you gay bitch";
    animation: rAinbowNimate 10s linear infinite alternate;
}

/* recolor folder backgrounds */
*[class^='expandedFolderBackground-'], .folder-21wGz3
{
    background: var(--transwhite);
    /* (mostly) fix folders having weird outlines if collapsed */
    border-radius: 24px;
}

/* remove xtra space above chat form */
*[class*='disableScrollAnchor-']
{
    margin-bottom: -20px;
}

/* fix scrollbar being borked after above */
*[class*='auto-']::-webkit-scrollbar-thumb, *[class*='auto-']::-webkit-scrollbar-track
{
    margin-bottom: 20px;
}

/* fix random issue with shit overlapping with typing text box after above */
form[class^='form']
{
    margin-top: 0px;
}

[class*='channelTextAreaDisabled'] [class*='scrollableContainer']
{
    opacity: 1;
}

/* fix tall jump to present bar */
[class^='jumpToPresentBar']
{
    padding-bottom: 0px;
}

/* window bar settings */
*[class^='typeWindows-']
{
    /* window bar color */
    background: var(--transwhite);
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 4px;
}

/* streamer mode popup */
*[class*='colorStreamerMode-']
{
    background-color: transparent;
}

/* color current channel bright pink, and add arrow in front of it */
*[class*='modeSelected'] [class*='name']
{
    color: rgba(255, 81, 179, .9) !important;
    padding-left: 5px
}

*[class*='modeSelected'] [class*='name']:before
{
    content: "-> ";
}

/* color unread channels bright green, and add arrows after them */
*[class*='modeUnread'] [class*='name']
{
    color: #39FF14 !important;
    padding-left: 3px
}

*[class*='modeUnread'] [class*='name']:after
{
    content: " <-";
}

/* recolor mutual servers / mutual friends tab in user boxes */
*[class*='noWrap'][class*='root']
{
    background-color: rgba(47, 49, 54, 1);
    border-radius: 5px;
}

/* recolor discord name popups on mouseover */
*[class*='tooltip']
{
    /* can't use transparency here because opacity overrides it. Probably. */
    background-color: #111111;
    border-radius: 5px;
}

/* recolor spotify & game previews in voice chat, as well as user info panels. hack */
*[class^='scrollerBase'], *[class^='animator']
{
    background-color: #202225;
    border-radius: 5px;
}

/* recolor user info panels */
*[class^='infoScroller'], *[class^='topSectionNormal']
{
    background: var(--discordgreyish);
}

*[class^='activity'], *[class^='headerFill']
{
    background: transparent;
}

*[class^='topSectionPlaying']
{
    background: rgba(114, 137, 218, .95);
}

*[class^='topSectionSpotify']
{
    background: rgba(29, 185, 84, .95);
}

/* recolor user info popup panels */
*[id^='popout']
{
    opacity: 1 !important;
}

/* have people actually show up as speaking since we deleted box borders earlier. orig color is #43b581 */
*[class*='avatarSpeaking'], *[class*='speaking']
{
    box-shadow:         inset 0 0 0 2.33px #00ff8b, inset 0 0 0 0px transparent !important;
    -webkit-box-shadow: inset 0 0 0 2.33px #00ff8b, inset 0 0 0 0px transparent !important;
}

/* recolor video call backgrounds */
[class*='noChat']
{
    background: transparent;
}

/* recolor pinned messages */
*[class*='messagesPopoutWrap']
{
    background: rgba(47,49,54, .95)
}

/* recolor quickswitcher */
*[class*='quickswitcher']
{
    background: rgba(47,49,54, .95)
}

/* fix the emoji picker to be all one color */
*[class^='emojiPicker-']
{
    background: #2F3136 !important;
    /* weird hack idk why this works */
    opacity: .95;
}

/* hack the search results to look okish */
[class^="resultsGroup"], [id*="wrapper-1"]
{
    background: rgba(47,49,54, .95) !important
}

/* remove annoying gradient on hover w/ search results */
*[class^="option-"]:after
{
    background: transparent !important;
}

/* show feedback still for search results */
*[class^="option-"]:hover
{
    background: var(--discordgreyish);
}

/* remove spaces in between channels */
*[class^='containerDefault']
{
    padding-top: 0px;
}

/* remove discord nitro gift button */
[aria-label="Send a gift"]
{
  display:none;
}

