/*--------------------/
/   stephcord theme   /
/   created 2018ish   /
/  orig written with  /
/   beautifuldiscord  /
/    now works with   /
/      powercord      /
/                     /
/   liable to break   /
/--------------------*/

/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend Deca');

span, div, label, title, button,
header, nav, table, td, a,
h1, h2, h3, h4, h5,
input, select, textarea
{
    /* changes font to Ubuntu Light */
    font-family: "Lexend Deca", sans-serif !important;
    text-rendering: optimizeLegibility !important;
    /* remove most borders. looks cleaner.*/
    border:                 0px transparent !important;
    -webkit-box-shadow:     0px 0px transparent !important;
    box-shadow:             0px 0px transparent !important;
}

/* selecting elements is ugly. lets just make certain things transparent by setting colors and attribs in :root/body */
:root
{
    /* set background image here */
    background: linear-gradient(
        rgba(0, 0, 0, .9),
        rgba(0, 0, 0, .9)),
        center
        center
        fixed,
        url("https://img.wallpapersafari.com/desktop/1920/1080/5/11/s7k1C0.png"
    ) !important;
    background-size: 100% 100% !important;

    /* fix discord peeking over other monitors (as best we can) while focused with multimonitor setups */

    /* set colors here */
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    /* set text color to mostly white */
    --text-normal: rgba(255,255,255,0.85);
    --text-muted: #72767d;
    --text-link: #00b0f4;
    /* make most text a bit brighter */
    --channels-default: rgba(255,255,255,0.85);
    --interactive-normal: #b9bbbb;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #696969;
    --background-primary: transparent;
    --background-secondary: transparent;
    --background-secondary-alt: transparent;
    --background-tertiary: transparent;
    --background-accent: #4f545c;
    --background-floating: #18191c;
    --background-mobile-primary: transparent;
    --background-mobile-secondary: #2f3136;
    --background-modifier-hover: rgba(79,84,92,0.16);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-selected: rgba(79,84,92,0.32);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --background-mentioned: rgba(250,166,26,0.05);
    /* make hovered messages and mentioned messages a bit brigher */
    --background-mentioned-hover: rgba(250,166,26,0.25);
    --background-message-hover: rgba(255,255,255,0.025);
    --background-help-warning: rgba(250,166,26,0.1);
    --background-help-info: rgba(0,176,244,0.1);
    /* make small scrollbar thumbs a bit brighter */
    --scrollbar-thin-thumb: var(--scrollbarcolor);
    --scrollbar-auto-thumb: var(--scrollbarcolor);
    --scrollbar-auto-scrollbar-color-thumb: var(--scrollbarcolor);
    /* remove track */
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-track: transparent;
    --scrollbar-auto-scrollbar-color-track: transparent;
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --logo-primary: #fff;
    --focus-primary: #00b0f4;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: #40444b;
    --activity-card-background: #202225;
    --textbox-markdown-syntax: #8e9297;
    --deprecated-card-bg: rgba(32,34,37,0.6);
    --deprecated-card-editable-bg: rgba(32,34,37,0.3);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg: rgba(0,0,0,0.1);
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;

    /* custom colors */
    --transwhite: rgba(255,255,255,0.075);
    --scrollbarcolor: rgba(204, 204, 204, .666);
    --discordgreyish: rgba(47,49,54, .9);
    --discordgreyfull: rgba(47,49,54, 1);
}

/* remove ugly border on friends thing */
div[class^='searchBar']
{
    box-shadow: none !important;
}

/* fix friends tab and other misc heading backgrounds */
div[class^='container']
{
    background-color: transparent !important;
}

/* fix video call backgrounds */
[class*='wrapper'][class*='normal']
{
    background-color: transparent !important;
}

/* fix replies being broken after above */
[aria-controls^="popout"] div[class^="channelTextArea"]
{
    background-color: #36393f;
}

/* recolor spotify album art blurred invite background */
div[class*='coverImageActionable']
{
    background: transparent !important;
}

/* fix voice channel limits disappearing */
div[class*='userLimit']
{
    background-color: var(--transwhite);
    border-radius: 10px;
}

/* remove annoying divider in friends list */
div[class^='tabBody']:before
{
    display: none;
}

/* recolor "Hold up!" discord notification when visiting unknown links */
div[class*='modalContent']
{
    background-color: #36393f;
}

/* recolor embed backgrounds and code blocks */
div[class^='embedWrapper'], code
{
    background-color: var(--transwhite) !important;
}

/* fix code block font */
code *[class*='code']
{
    font-family: "Inconsolata" !important;
}

/* brighten code block comment color a bit */
*[class*='comment']
{
   color: #888888;
}

/* fix code block font for powercord */
.powercord-codeblock-table td:last-child, [class*='hljs'], *[class*='powercord-codeblock']
{
    font-family: "Inconsolata", monospace !important;
}

/* idk what this does */
div[class*='drawerSizingWrapper']
{
    background-color: var(--discordgreyfull) !important;
    border-radius: 5px;
}

/* remove annoying tab at top of messages window, on border of channel name/desc and messages */
div[class^='content']::before
{
    -webkit-box-shadow: 0px 0px transparent;
    box-shadow: 0px 0px transparent;
}

/* sans undertale red text on bold */
div[class^='markup'] strong
{
    color: red;
    letter-spacing: 2px;
}

/* centers typing users a bit better and make it bigger  */
[class*='typing-']
{
    border-bottom-width: 0px;
    margin-bottom: -2px !important;
    font-size: 103%;
}

/* i'm gay */
div[class^='placeholder'][class*='font']:after
{
    content: " - you gay bitch";
}

/* recolor folder backgrounds */
span[class^='expandedFolderBackground-'], div[class^='folder-']
{
    background: var(--transwhite);
    /* (mostly) fix folders having weird outlines if collapsed */
    border-radius: 24px;
}

/* remove xtra space above chat form */
div[class*='disableScrollAnchor-']
{
    margin-bottom: -20px;
}

/* fix scrollbar being borked after above */
div[class*='auto-']::-webkit-scrollbar-thumb, div[class*='auto-']::-webkit-scrollbar-track
{
    margin-bottom: 20px;
}

/* fix random issue with shit overlapping with typing text box after above */
form[class^='form']
{
    margin-top: 0px;
}

[class*='channelTextAreaDisabled'] [class*='scrollableContainer']
{
    opacity: 1;
}

/* fix tall jump to present bar, and messages failed to load bar */
div[class^='jumpToPresentBar'], div[class^='messagesErrorBar']
{
    bottom: -8px;
}

/* window bar settings */
div[class^='typeWindows-']
{
    /* window bar color */
    background: var(--transwhite);
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 4px;
}

/* streamer mode popup */
div[class*='colorStreamerMode-']
{
    background-color: transparent;
}

/* color current channel bright pink, and add arrow in front of it */
[class*='modeSelected'] [class*='name']
{
    color: rgba(255, 81, 179, .9) !important;
    padding-left: 5px
}

[class*='modeSelected'] [class*='channelName']:before
{
    content: "-> ";
}

/* color unread channels bright green, and add arrows after them */
[class*='modeUnread'] [class*='channelName']
{
    color: #39FF14 !important;
    padding-left: 3px
}

[class*='modeUnread'] [class*='channelName']:after
{
    content: " <-";
}

/* recolor mutual servers / mutual friends tab in user boxes */
div[class*='noWrap'][class*='root']
{
    background-color: rgba(47, 49, 54, 1);
    border-radius: 5px;
}

/* recolor discord name popups on mouseover */
div[class*='tooltip']
{
    /* can't use transparency here because opacity overrides it. Probably. */
    background-color: #111111;
    border-radius: 5px;
}

/* recolor spotify & game previews in voice chat, as well as user info panels. hack */
[class^='scrollerBase'], *[class^='animator']
{
    background-color: #202225;
    border-radius: 5px;
}

/* recolor user info panels */
div[class^='infoScroller'], div[class^='topSectionNormal']
{
    background: var(--discordgreyish);
}

div[class^='activity'], div[class^='headerFill']
{
    background: transparent;
}

div[class^='topSectionPlaying']
{
    background: rgba(114, 137, 218, .95);
}

div[class^='topSectionSpotify']
{
    background: rgba(29, 185, 84, .95);
}

/* recolor user info popup panels */
div[id^='popout']
{
    opacity: 1 !important;
}

/* have people actually show up as speaking since we deleted box borders earlier. orig color is #43b581 */
div[class*='avatarSpeaking'], div[class*='speaking']
{
    box-shadow:         inset 0 0 0 2.33px #00ff8b, inset 0 0 0 0px transparent !important;
    -webkit-box-shadow: inset 0 0 0 2.33px #00ff8b, inset 0 0 0 0px transparent !important;
}

/* recolor video call backgrounds */
[class*='noChat']
{
    background: transparent;
}

/* recolor pinned messages */
div[class*='messagesPopoutWrap']
{
    background: rgba(47,49,54, .95)
}

/* recolor quickswitcher */
div[class*='quickswitcher']
{
    background: rgba(47,49,54, .95)
}

/* fix the emoji picker to be all one color */
div[class^='emojiPicker-']
{
    background: #2F3136 !important;
    /* weird hack idk why this works */
    opacity: 1;
}

/* hack the search results to look okish */
[class^="resultsGroup"], [id*="wrapper-1"]
{
    background: rgba(47,49,54, .95) !important
}

/* remove annoying gradient on hover w/ search results */
div[class^="option-"]:after
{
    background: transparent !important;
}

/* show feedback still for search results */
div[class^="option-"]:hover
{
    background: var(--discordgreyish);
}

/* remove spaces in between channels */
div[class^='containerDefault']
{
    padding-top: 0px;
}

/* fix inbox color */
div[class*="recentMentionsPopout"]
{
    background-color: var(--discordgreyfull) !important;

    border-radius: 5px;
}

/* fix weird padding on stream previews */
.streamPreviewWrapper-1O-B1g {
    padding: 0px !important;
}

/* clean up reply color
[class*="channelTextArea"] > [class*="container"]
{
    background-color: var(--discordgreyish) !important;
}
*/

/* disable tts "speak message" thing */
#message-tts
{
    display:none;
}

/* hide nitro button in friends list - stolen from
    https://canary.discord.com/channels/538759280057122817/755015856945102891/781461421249527809
*/
#private-channels [href="/store"], [aria-label="Send a gift"]
{
    display: none;
}

/* color my username, if modifying this, set "data-author-id" to whatever your discord id is */
div[data-author-id="148929066349625344"] span[class^="headerText"] span[class^="username"]
{
    color: pink !important;
}

/* hide powercord spotify thing */
.powercord-spotify
{
    display: none;
}



/* stuff stolen from other themes goes here */

/* hide invite to server on right click */
.submenuContainer-2gbm7M [id="user-context-invite-to-server"] {
    display: none;
}

/* Show Discord, even when you're offline */
.container-16j22k
{
  background: transparent;
  pointer-events: none;
}
.container-16j22k *
{
  display: none;
}

.container-16j22k::before {
    content: 'You\'ve gone offline';
    display: block;
    bottom: 24px;
    right: 24px;
    position: absolute;
    padding: 8px 16px;
    background-color: #f04747;
    border-radius: 4px;
    color: #fff;
}


/* Compressed Search Bar */
.search-2oPWTC .searchBar-3dMhjb {width:24px;transition-duration:0ms;}
.search-2oPWTC .searchBar-3dMhjb:hover {width:250px !important;}
.search-2oPWTC.open-6_Y_aH .searchBar-3dMhjb {width: 250px !important;}




/* plugin specific stuff below here */

/* wpm */
/* move wpm indicator above chat box */
#wpm-indicator-text
{
    bottom: 77px !important;
    right: 1.25em !important;
}

/* smart typers */
/* remove gradient on users */
.typing-user .gradient
{
    background-image: none !important;
    background-color: var(--smartTypers-primary);
}

.smartTypers-popout {
    -webkit-filter: blur(0px) !important;
    filter: blur(0px) !important;
}

/* message logger */
/* ugly css hack to add strikethru to deleted text */
div > .ml2-deleted [class^="markup"]
{
    text-decoration: line-through;
}

/* fade by 50% to more clearly mark images as deleted */
div > .ml2-deleted:not(:hover) a
{
    filter: opacity(50%) !important;
}

/* move typing indicator down */
.dm-typing-indicator
{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
